/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

body {
    font-family: 'Lora', serif;
}

th {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

td {
    font-size: 14px;
}

footer {
    background-color:#3c1472;
    color: #fff;
    height: 30px;
    padding: 5px;
}

.btn-custom {
    color: #fff;
    background-color: #3c1472;
    border-color: #3c1472;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.btn-custom:hover {
    background-color: #c3afd0;
    border-color: #c3afd0;
}

.logo, img {
    margin:  0 auto;
    display: block;
}

/* ------------------------- Search */
.title{
    font-size: 20px;
    margin-top: 80px;
}

/* ------------------------- Display Clients List */
.clients-table {
    margin: 80px 40px;
}

.th-voucher {
    text-align: center;
}

/* ------------------------- Create Voucher */
.form-container {
    border: 5px solid #c3afd0;
    padding: 40px 20px;
    margin-bottom: 80px;
    border-radius: .25rem;
}

.voucher-body {
    margin-left: 140px;
}

.voucher-img {
    padding-top: 40px;
    padding-left: 20px;
}

.voucher-img p {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.m150 {
    margin-bottom: 80px;
}

/* ------------------------- media queries */
/*mobile devices*/
@media (max-width: 734px) {
    .voucher-img {
        padding: unset;
        float: none !important;
    }
   
    .voucher-body {
        margin-left: unset; 
    }

    .mobile-form {
        width: 100% !important;
    }

    .mobile-btn {
        width: 100% !important;
    }
}